{% extends "base.html"%}

{% block content %}
<article>
    <header>
        <h1> For Sale</h1>        
    </header>
    <section>
        <h3 style= "font-family:georgia,garamond,serif;font-size:20px;font-stype:italic;">
        Rottweier Puppy 1</h3>
        <body>
            <img src="/../static/img/Pup1.jpg" alt="Puppy"
            <p><b>Height:</b> 45 inches</p>
            <p><b>Weight:</b> 30 inches</p>
            <p><b>Description:</b> American Rottweiler </p>
        </body>
    </section>
    <section>
        <h3 style= "font-family:georgia,garamond,serif;font-size:20px;font-stype:italic;">
        Rottweier Puppy 2</h3>
        <body>
            <img src="/../static/img/Pup2.jpg" alt="Puppy"
            <p><b>Height:</b> 45 inches</p>
            <p><b>Weight:</b> 30 inches</p>
            <p><b>Description:</b> American Rottweiler Puppy</p>
        </body>
    </section>
</article>
{% endblock %}